body {
    background-color: rgb(0, 0, 0);
}

table,
tr,
td {
    border: 1px solid rgb(95, 95, 95);
}


.table1 {
    padding: 50px;
    border-collapse: collapse;
    text-align: center;

    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

}



td {
    padding: 20px;
    background-color: rgb(29, 29, 29);
    width: 50%;
    text-align: left;
    vertical-align: top;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;



    .originalIMG {

        height: auto;
        transition: 0.3s;
    }

    .originalIMG:hover {
        content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiDM94PpPCMHbKFZ6qMMFUI_HzqUuweR_4NQ&s');
    }
}

.item {
    width: 300px;
    height: 300px;
    background-color: rgb(29, 29, 29);
    font-size: 36px;
    color: rgb(255, 255, 255)
}


.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100ch;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255)
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJmeZHE3E1ugYf82gL4hArM1AJg17DXHqU-g&s);
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-position: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255)
}

main {
    flex: 1;
}

p {
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(255, 255, 255)
}

h1 {
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.item:hover {
    background-color: rgb(71, 71, 71);
    color: black;
    transform: scaleY(0, 9);
    transform-origin: center;
    transition: 0, 2s ease ease-in-out;
    transform: scale(0.9, 0.9);
    transition: transform 0.3s ease;
}

h2 {
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    margin-right: 2%;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fade 8s infinite;
    display: block;
}

.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 2s;
}

.slideshow img:nth-child(3) {
    animation-delay: 4s;
}

.slideshow img:nth-child(4) {
    animation-delay: 6s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

h3 {

    color: rgb(255, 255, 255);
    font-size: 20px;
    flex-direction: top right;


}

.profile-pic {
    width: 80px;
    border-radius: 50%;
    border: 2px solid #333;
}

button {
    background-color: #35c1ac;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

button:hover {
    background-color: #a3ffea;
}

.pink button {
    background-color: #d53b5c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;

}

.pink button:hover {
    background-color: #f28ac8;
}

.all-the-buttons {
    display: flex;
    gap: 10px;

}

.page-layout {
    min-height: 100vh
}